/* src/components/Header/Header.module.css */
.appBar {
  background-color: #333 !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Roboto', sans-serif;
}

.navLinks {
  display: flex;
  gap: 10px;
}

.navButton {
  margin-left: 10px;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
